[submodule "lib/GhostDiff"]
	path = lib/GhostDiff
	url = https://github.com/thingsinjars/GhostDiff.git

[submodule "lib/GhostKnife"]
	path = lib/GhostKnife
	url = https://github.com/thingsinjars/GhostKnife.git

[submodule "lib/HardyChrome"]
	path = lib/HardyChrome
	url = https://github.com/thingsinjars/HardyChrome.git
